.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    background-color: rgb(133, 93, 0);
}

.icono {
    width: 40px;
    height: 30px;
}

.textSearch {
    color: white;
    margin-right: 5px;
}

.botonera {
    padding: 5px;
    margin: 10px;
    border: solid 1px rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botonera:hover {
    padding: 5px;
    margin: 10px;
    border: rgb(166, 255, 0) solid 1px;
    background-color: rgba(151, 151, 151, 0.51);
    border-radius: 5px;
    color: white;

}