.distribucion {
    display: flex;
    flex-direction: column;
    background-image: url("./fondo.jpg");
    background-size: cover;
            /* Rellenamos el fondo */
            min-height: 100%;   
            min-width: 100%;
     
            /* Escalamiento proporcional */
            width: 100%;
            height: auto;
     
            /* Posicionamiento */
            position: fixed;
            top: 0;
            left: 0;
    justify-content: center;
    align-items: center;
}

.logo {
    width: auto;
    height: 250px;
}


.botonera {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botonera:hover {
    padding: 5px;
    margin: 10px;
    border: rgb(166, 255, 0) solid 1px;
    background-color: rgba(151, 151, 151, 0.51);
    border-radius: 5px;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    color: white;
}