.container {
    margin-left: 10px;
    width: 50%;
}

.titulo {
    font-size: large;
    font-weight: bold;
}

.subtitulos {
    font-size: medium;
    font-weight: bold;

}

.buttons {
    background-color: rgb(133, 93, 0);
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    height: 20px;
    width: 150px;
    text-decoration: none;
    font-size: 12px;    
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
}

.buttons:hover {
    background-color: rgb(112, 79, 0);
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    height: 20px;
    width: 150px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;    
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
}